@model BookProject.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Login</h2>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            }
            <div>
                @Html.ActionLink("Don't have an account? Register here", "Register")
            </div>
            <div>
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
            </div>
        </div>
    </div>
</div>