@model BookProject.Models.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register to System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        .main-content {
            width: 50%;
            border-radius: 20px;
            box-shadow: 0 5px 5px rgba(0,0,0,.4);
            margin: 5em auto;
            display: flex;
        }

        .company__info {
            background-color: #008080;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 2em;
            width: 300px;
        }

        .logo-img {
            object-fit: contain;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .login_form {
            background-color: transparent;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 2em;
            flex: 1;
        }

        .form__input {
            width: 100%;
            border: 0px solid transparent;
            border-radius: 0;
            border-bottom: 1px solid #aaa;
            padding: 1em .5em .5em;
            padding-left: 2em;
            outline: none;
            margin: 1.5em auto;
            transition: all .5s ease;
        }

        .form__input:focus {
            border-bottom-color: #008080;
            box-shadow: 0 0 5px rgba(0,80,80,.4);
            border-radius: 4px;
        }

        .btn {
            transition: all .5s ease;
            width: 70%;
            border-radius: 30px;
            color: #008080;
            font-weight: 600;
            background-color: #fff;
            border: 1px solid #008080;
            margin-top: 1.5em;
            margin-bottom: 1em;
            padding: 0.8em;
            cursor: pointer;
        }

        .btn:hover, .btn:focus {
            background-color: #008080;
            color: #fff;
        }

        .text-danger {
            color: red;
            font-size: 0.8em;
            margin-top: 5px;
        }

        @@media screen and (max-width: 640px) {
            .main-content { width: 90%; }
            .company__info { display: none; }
            .login_form {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }

        @@media screen and (min-width: 642px) and (max-width:800px) {
            .main-content { width: 70%; }
        }

        .row > h2 {
            color: #008080;
            margin-bottom: 1.5em;
            text-align: center;
        }

        .footer {
            text-align: center;
            margin-top: 2em;
            color: #666;
        }

        .footer a {
            color: #008080;
            text-decoration: none;
        }

        .company_title {
            margin-top: 1em;
            text-align: center;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div class="main-content">
    <div class="company__info">
        <img src="~/content/images/readerlogin.png" alt="Reader Logo" class="logo-img" style="width: 400px; height: auto;" />
        <h4 class="company_title">Start read today!</h4>
    </div>
    <div class="login_form">
        <div class="container-fluid">
            <div class="row">
                <h2>Create Account</h2>
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form__input", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form__input", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    @Html.PasswordFor(m => m.Password, new { @class = "form__input", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <button type="submit" class="btn">Register</button>
                </div>

                <div class="row">
                    <p>Already have an account? @Html.ActionLink("Login Here", "Login", "Account")</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="footer">
    <p>&copy; @DateTime.Now.Year - Your Application</p>
</div>
</body>
</html>